/* header{
    font:bolder;
    font-size: 25px;
    text-align: center;
    color:blue;
    background-color: green;
    width:100%;
}

.left {
    float:left;
    padding-left:30px;
}

.right{
    float:right;
    padding-right: 30px;
}
 */
